<template>
	<div id="wrap">
		<div id="header">
			<div class="current-time-wrap">
				현재 시간: <span class="current-time">{{ getNowHour }}:{{ getNowMinute }}:{{ getNowSecond }}</span>
			</div>
		</div>
		<div id="contents">
			<div class="alarming" v-show="getAlarmingList.length">
				<p v-for="d in getAlarmingList" :key="d.seq">[{{ d.title }}] 알람이 작동중입니다.</p>
			</div>
			<div id="alarm-info">
				<div>
					<label>Title</label>
					<input type="text" name="title" v-model="currentItem.title">
				</div>
				<div>
					<label>시간</label>
					<input type="number" class="input-time" min="0" max="23" name="hour" v-model="currentItem.hour">
					<input type="number" class="input-time" min="0" max="59" name="minute" v-model="currentItem.minute">
					<input type="number" class="input-time" min="0" max="59" name="second" v-model="currentItem.second">
				</div>
				<div>
					<label>메모</label>
					<textarea name="memo" v-model="currentItem.memo"></textarea>
				</div>
				<div>
					<button :class="{ 'btn': true, 'btn_lightgreen': true, 'disabled': false }" v-on:click="initRegItem">신규</button>
					<button :class="{ 'btn': true, 'btn_green': true, 'disabled': !isRegister }" v-on:click="regItem">등록</button>
					<button :class="{ 'btn': true, 'btn_blue': true, 'disabled': !isSelected }" v-on:click="modItem">수정</button>
					<button :class="{ 'btn': true, 'btn_red': true, 'disabled': !isSelected }" v-on:click="removeItem">삭제</button>
				</div>
			</div>
			<div id="alarm-list" v-for="d in list" :key="d.seq">
				<div :class="{ 'alarm-item': true, 'selected': d.seq == currentSelectedSeq }" v-on:click="selectItem(d.seq)">
					<div class="item-header">
						<span class="title">{{ d.title }}</span>
						<span class="time">{{ d.time }}</span>
					</div>
					<div class="item-contents">
						<p class="memo">{{ d.memo }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
function lpad(w) {
	// 0을 붙여 두자리 숫자로 만들어줌
	return ('00' + w).substr(-2, 2)
}
export default {
	// data
	data() {
		return {
			now: new Date(),
			timerIntervalId: -1,
			// 현재 선택된 seq
			currentSelectedSeq: -1,
			// alarm form과 연결된 object
			currentItem: {},

			// 상태
			// 등록중인지 확인하는 상태값
			isRegister: false,
			// 아이템 리스트
			list: [{
				seq: 0,
				title: 'alarm1',
				time: '12:34:56',
				memo: 'hahaha'
			}, {
				seq: 1,
				title: 'alarm2',
				time: '00:00:00',
				memo: 'hahaha2'
			}]
		}
	},
	computed: {
		getNowHour: function() {
			return lpad(this.now.getHours())
		},
		getNowMinute: function() {
			return lpad(this.now.getMinutes())
		},
		getNowSecond: function() {
			return lpad(this.now.getSeconds())
		},
		isSelected: function() {
			// 선택된 seq가 0 이상이면 값을 선택된 것으로 본다
			return this.currentSelectedSeq >= 0
		},
		getAlarmingList: function() {
			return this.list.filter(d => d.alarming === true)
			// this.list.filter(function(d) {
			// 	return d.alarming === true
			// })
		}
	},
	// lifecycle
	// created: function() {}
	created() {
		const self = this
		const ALARM_TIME = 5
		this.timerIntervalId = setInterval(function() {
			// 현재시간 갱신
			self.now = new Date()

			// d: alarm
			// i: array index
			self.list.forEach((d, i) => {
				const now = self.now
				// const { now } = self
				const today = now.toISOString().match(/^([\d]{4}-[\d]{2}-[\d]{2})/)[1]
				// 현재 시간
				const alarmTime = now.getTime()
				// alarm 시작시간
				const startTime = new Date(`${today}T${d.time}`).getTime()
				// alarm 종료시간
				const endTime = startTime + ALARM_TIME * 1000 /* 20초 뒤 */
				const newAlarming = alarmTime >= startTime && alarmTime < endTime
				if (newAlarming !== d.alarming) {
					// 값이 바뀌었을 때만 반영
					d.alarming = newAlarming
					self.list.splice(i, 1, d)
				}
			})
		}, 1000)
	},
	beforeDestroy() {
		// 타이머 초기화
		clearInterval(this.timerIntervalId)
	},
	methods: {
		getItem(seq) {
			return this.list.filter(d => d.seq === seq)[0]
			//
			// this.list.filter(function(d) {
			// 		return d.seq === seq
			// })
		},
		// seq로 alarm item의 index를 찾는다
		getItemIndex(seq) {
			return this.list.findIndex(d => d.seq === seq)
			//
			// this.list.findIndex(function(d) {
			// 		return d.seq === seq
			// })
		},
		selectItem(seq) {
			// 등록 버튼 비활성화
			this.isRegister = false
			// 현재 선택된 seq를 바꿔준다
			this.currentSelectedSeq = seq
			// currentItem의 값을 바꿔준다
			// init
			this.currentItem = {}
			// 선택된 alarm item
			let _item = this.getItem(seq)
			let item = Object.assign({}, _item)
			// this.currentItem.title = item.title
			// ...
			// time > hour, minute, second
			const timeInfo = item.time.split(':')
			item.hour = timeInfo[0]
			item.minute = timeInfo[1]
			item.second = timeInfo[2]
			this.currentItem = item
		},
		// 아이템 초기화
		initItem() {
			// 선택 해제 및 currentItem 비우기
			this.currentSelectedSeq = -1
			this.currentItem = {}
		},
		// 신규 버튼
		initRegItem() {
			// 등록 버튼 활성화
			this.isRegister = true
			// 선택된 seq(currentSelectedSeq) 초기화
			this.currentSelectedSeq = -1
			// 입력된 값(currentItem) 초기화
			const item = {
				title: 'new alarm ' + (this.list.length + 1),
				hour: this.getNowHour,
				minute: this.getNowMinute,
				second: this.getNowSecond
			}
			this.currentItem = item
		},
		// 등록 버튼
		regItem() {
			// validation 체크(생략)
			// console.log(this.currentItem)
			// 입력한 값을 복사(clone)
			let item = Object.assign({}, this.currentItem)
			// 필요한 값을 채운다
			// seq
			item.seq = this.list.length
			// time
			item.time = `${lpad(item.hour)}:${lpad(item.minute)}:${lpad(item.second)}`
			// list에 넣기
			this.list.push(item)
			// 등록 버튼 비활성화
			this.isRegister = false
		},
		// 수정 버튼
		modItem() {
			// validation 체크(생략)
			// 입력한 값을 복사(clone)
			let item = Object.assign({}, this.currentItem)
			// 필요한 값을 채운다
			// time
			item.time = `${lpad(item.hour)}:${lpad(item.minute)}:${lpad(item.second)}`
			// list에서 값 찾기
			const itemIndex = this.getItemIndex(item.seq)
			// 해당 위치에 값 넣기
			this.list[itemIndex] = item
			// 등록 버튼 비활성화
			// this.isRegister = false
			// 선택 해제 및 currentItem 비우기
			this.initItem()
		},
		// 삭제 버튼
		removeItem() {
			// 현재 선택된 값의 seq
			const seq = this.currentSelectedSeq
			// 선택된 값 list에서 찾기
			const itemIndex = this.getItemIndex(seq)
			if (itemIndex < 0) {
				return
			}
			// 제거
			this.list.splice(itemIndex, 1)
			// 선택 해제 및 currentItem 비우기
			this.initItem()
		}
	}
}
</script>
<style scoped>
#wrap {
	padding: 10px;
	overflow-y: 0;
}
#header, .alarming, #alarm-info, #alarm-list {
	border: 1px solid #888;
	border-radius: 5px;
	margin: 10px 0;
}
/* header */
.current-time-wrap {
	font-size: 36px;
}
.current-time {
  font-family: fantasy;
}
/* alarming */
.alarming {
	padding: 5px;
}
.alarming p {
	margin: 2px 0;
}

/* form */
#alarm-info {
	padding: 10px 5px;
}
#alarm-info label {
	display: inline-block;
	width: 100px;
}
#alarm-info input, #alarm-info textarea {
	height: auto;
	border-radius: 5px;
	border: 1px solid #aaa;
	font-size: 24px;
}
#alarm-info input[type=text]{
	width: calc(100% - 150px + 4px);
}
#alarm-info textarea {
	width: calc(100% - 150px);
	resize: none;
}
#alarm-info input.input-time {
	width: calc((100% - 150px) / 3);
}
button.btn {
	border: none;
	width: 60px;
	padding: 5px 0;
	margin: 0 5px;
}
button.btn_lightgreen {
	background-color: #29ff89;
}
button.btn_green {
	background-color: green;
	color: white;
}
button.btn_blue {
	background-color: skyblue;
	color: black;
}
button.btn_red {
	background-color: red;
	color: white;
}
button.btn_yellow {
	background-color: #ffff00;
	color: black;
}
button.btn.disabled {
	cursor: not-allowed;
	background-color: rgba(100, 100, 100, 0.3);
	color: black;
}

/* list */
#alarm-list .alarm-item {
	text-align: left;
	padding: 10px;
	margin: 5px;
	border: 1px solid #bbb;
}
#alarm-list .alarm-item .item-header {
	display: flex;
	justify-content: space-between;
}
#alarm-list .alarm-item span {
	display: inline-block;
}
#alarm-list .alarm-item .title {
	width: 100px;
}
#alarm-list .alarm-item .time {
	width: 70px;
}
#alarm-list .alarm-item .memo {
	margin: 10px 0;
	overflow: hidden;
	/* overflow-wrap: break-word; */
	text-overflow: ellipsis;
}
#alarm-list .alarm-item.selected {
	background-color: #cef;
}
</style>
